    <script src="{{ .Site.Params.webslides_url }}/js/webslides.js"></script>
    <script>
      window.ws = new WebSlides();
    </script>
    <script defer src="{{ .Site.Params.webslides_url }}/js/svg-icons.js"></script>
