<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>{{ .Title }}</title>
    <!-- CSS WebSlides -->
    <link rel="stylesheet" type='text/css' media='all' href="{{ .Site.Params.webslides_url }}/css/webslides.css">
    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type='text/css' media='all' href="{{ .Site.Params.webslides_url }}/css/svg-icons.css">
    {{- $customstyle := resources.Get "css/custom.css" | resources.Fingerprint -}}
    <link rel="stylesheet" type='text/css' href="{{ $customstyle.Permalink }}">
</head>
