---
title: "Agile Values"
---

<section class="slide-top aligncenter">
    <h1>Agile Values</h1>
    <hr>
    <h3>Individuals and interactions over processes and tools</h3>
    <h3>Working software over comprehensive documentation</h3>
    <h3>Customer collaboration over contract negotiation</h3>
    <h3>Responding to change over following a plan</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/">Agile Manifesto</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Agile Values</h1>
    <hr>
    <h3>Individuals and interactions</h3>
    <h3>over</h3>
    <h3>processes and tools</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/">Agile Manifesto</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Agile Values</h1>
    <hr>
    <h3>Working software</h3>
    <h3>over</h3>
    <h3>comprehensive documentation</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/">Agile Manifesto</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Agile Values</h1>
    <hr>
    <h3>Customer collaboration</h3>
    <h3>over</h3>
    <h3>contract negotiation</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/">Agile Manifesto</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Agile Values</h1>
    <hr>
    <h3>Responding to change</h3>
    <h3>over</h3>
    <h3>following a plan</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/">Agile Manifesto</a></h4>
</section>
