---
title: "Valeurs agiles"
---

<section class="slide-top aligncenter">
    <h1>Valeurs agiles</h1>
    <hr>
    <h3>Les individus et leurs interactions plus que les processus et les outils</h3>
    <h3>Des logiciels opérationnels plus qu’une documentation exhaustive</h3>
    <h3>La collaboration avec les clients plus que la négociation contractuelle</h3>
    <h3>L’adaptation au changement plus que le suivi d’un plan</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/iso/fr/manifesto.html">Manifeste agile</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Valeurs agiles</h1>
    <hr>
    <h3>Les individus et leurs interactions</h3>
    <h3>plus que</h3>
    <h3>les processus et les outils</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/iso/fr/manifesto.html">Manifeste agile</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Valeurs agiles</h1>
    <hr>
    <h3>Des logiciels opérationnels</h3>
    <h3>plus que</h3>
    <h3>une documentation exhaustive</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/iso/fr/manifesto.html">Manifeste agile</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Valeurs agiles</h1>
    <hr>
    <h3>La collaboration avec les clients</h3>
    <h3>plus que</h3>
    <h3>la négociation contractuelle</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/iso/fr/manifesto.html">Manifeste agile</a></h4>
</section>

<section class="slide-top aligncenter">
    <h1>Valeurs agiles</h1>
    <hr>
    <h3>L’adaptation au changement</h3>
    <h3>plus que</h3>
    <h3>le suivi d’un plan</h3>
    <hr>
    <h4>Source: <a href="https://agilemanifesto.org/iso/fr/manifesto.html">Manifeste agile</a></h4>
</section>
