---
title: Command Line Heroes Clips
layout: audio
---

<section class="slide-top">
    <h2>Command Line Heroes Clips</h2>
    <h3>Season 1 Episode 4: DevOps Tear Down That Wall</h3>
    {{< directory >}}
</section>
