---
title: "Clean Code"
---

<section>
  <div class="wrap">
    <h2>What drives this?</h2>
    <ul class="flexblock clients">
      <li>
        <a href="#" title="Client">
          <figure>
            <img src="/img/staff.png" alt="Staff">
            <figcaption>
              <p>Source: <em>Clean Architecture</em>, Robert C. Martin, Addison-Wesley</p>
            </figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#" title="Client">
          <figure>
            <img src="/img/productivity.png" alt="Productivity">
            <figcaption>
              <p>Source: <em>Clean Architecture</em>, Robert C. Martin, Addison-Wesley</p>
            </figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
  <!-- .end .wrap -->
</section>

<section>
    <div class="aligncenter">
        <h1>Complexity</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>5. The system behaves unpredictably</b></h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>4. Developers are afraid to touch the code</b></h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>3. Velocity drops with time</b></h3>
        <h3>4. Developers are afraid to touch the code</h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>2. Bugfixes create new bugs</b></h3>
        <h3>3. Velocity drops instead of increasing with time</h3>
        <h3>4. Developers are afraid to touch the code</h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>1. Developers start to talk about "restarting from scratch"</b></h3>
        <h3>2. Bugfixes create new bugs</h3>
        <h3>3. Velocity drops with time</h3>
        <h3>4. Developers are afraid to touch the code</h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>It is the single greatest indictment of the software industry, the most obvious evidence of our failure as professionals, that we make things worse with time.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>
