---
title: "Delegation Poker"
draft: false
---

<section class="slide-top aligncenter">
    <ul class="flexblock gallery">
        <li>
            <img src="../../img/delegation-poker-1-tell.png" alt="">
        </li>
        <li>
            <img src="../../img/delegation-poker-2-sell.png" alt="">
        </li>
        <li>
            <img src="../../img/delegation-poker-3-consult.png" alt="">
        </li>
        <li>
            <img src="../../img/delegation-poker-4-agree.png" alt="">
        </li>
        <li>
            <img src="../../img/delegation-poker-5-advise.png" alt="">
        </li>
        <li>
            <img src="../../img/delegation-poker-6-inquire.png" alt="">
        </li>
        <li>
            <img src="../../img/delegation-poker-7-delegate.png" alt="">
        </li>
    </ul>
</section>
