---
title: DevOps
draft: false
---

<section>
    <div class="wrap">
        <div class="grid sm">
            <div class="column">
                <h3><strong>What is DevOps?</strong></h3>
            </div> <!-- end .column -->
            <div class="column">
                <blockquote>
                    <p>A <strong>set of practices</strong> that is intended to <strong>reduce the time</strong> between <strong>committing</strong> a change, and that change going into <strong>production</strong>, while ensuring <strong>quality</strong>.</p>
                    <cite>Scott Hanselman</cite>
                </blockquote>
            </div> <!-- end .column -->
        </div> <!-- end .grid -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <h3>What lies between committing a change and production?</h3>
        <ul class="flexblock border">
            <li>
                <i class="nf nf-md-magnify"></i>
                <h3>Review</h3>
            </li>
            <li>
                <i class="nf nf-dev-git_merge"></i>
                <h3>Merge</h3>
            </li>
            <li>
                <i class="nf nf-fae-tools"></i>
                <h3>Build</h3>
            </li>
            <li>
                <i class="nf nf-oct-codescan_checkmark"></i>
                <h3>Test</h3>
            </li>
            <li>
                <i class="nf nf-fa-user"></i>
                <h3>Deploy</h3>
            </li>
            <li>
                <i class="nf nf-fa-question"></i>
                <h3>What else?</h3>
            </li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
        </ul>
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-md-magnify" style="font-size: 36pt;"></i><h3>Some wastes during the review</h3>
            </div>
            <div class="column">
                <pre>
- Pull-Request waiting for review
- Long arguments over implementation
- Code refused
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-dev-git_merge" style="font-size: 36pt;"></i><h3>Some wastes during merge</h3>
            </div>
            <div class="column">
                <pre>
- Lots of conflicts
- Incorrect merge
- Working in the branch but broken in main
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-fae-tools" style="font-size: 36pt;"></i><h3>Some wastes during the build</h3>
            </div>
            <div class="column">
                <pre>
- Long build time
- Fragile build
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-oct-codescan_checkmark" style="font-size: 36pt;"></i><h3>Some wastes during testing</h3>
            </div>
            <div class="column">
                <pre>
- Long tests
- Tests fail
- Tests are intermittent
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-fa-user" style="font-size: 36pt;"></i> <h3>Some wastes during deploy</h3>
            </div>
            <div class="column">
                <pre>
- Wait for deploy window
- Large team required for deploy
- Rollbacks
- Unreliable deploy
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <h3>DevOps Metrics</h3>
        <ul class="flexblock metrics border">
            <li>
                <i class="nf nf-md-timer_outline"></i>
                <p>Lead Time</p>
            </li>
            <li>
                <i class="nf nf-fa-ellipsis"></i>
                <p>Deployment Frequency</p>
            </li>
            <li>
                <i class="nf nf-md-timer_outline"></i>
                <p>Mean Time to Restore</p>
            </li>
            <li>
                <i class="nf nf-md-percent"></i>
                <p>Change Fail Percentage</p>
            </li>
        </ul>
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <h3>References</h3>
                <ul class="flexblock gallery">
                    <li>
                        <figure>
                            <img src="https://www.redhat.com/rhdc/managed-files/bkgd-clh-ep4-2000x950.png"/>
                            <figcaption>
                                <h2>Command Line Heroes podcast</h2> <p><a href="https://www.redhat.com/en/command-line-heroes/season-1/devops-tear-down-that-wall">Season 1, Episode 4 - DevOps Tear Down Than Wall</a></p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="https://itrevolution.com/wp-content/uploads/2022/06/TPP_3rd_cover_border-768x1150.jpg.webp"/>
                            <figcaption>
                            <h2>The Phoenix Project</h2>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="https://itrevolution.com/wp-content/uploads/2022/06/Accelerate_flat_Shingo-1-768x1152.jpg.webp"/>
                            <figcaption>
                            <h2>Accelerate</h2>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
    </div> <!-- end .wrap -->
</section>
