---
title: DevOps
draft: false
---

<section>
    <div class="wrap">
        <div class="grid sm">
            <div class="column">
                <h3><strong>Qu'est-ce que DevOps?</strong></h3>
            </div> <!-- end .column -->
            <div class="column">
                <blockquote>
                    <p>Un <strong>ensemble de pratiques</strong> destiné à <strong>réduire le temps</strong> entre <strong>l'entrée d'un changement dans Git</strong> et sa mise en <strong>production</strong>, tout en garantissant la <strong>qualité</strong>.</p>
                    <cite>Scott Hanselman</cite>
                </blockquote>
            </div> <!-- end .column -->
        </div> <!-- end .grid -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <h3>Qu'est-ce qui se passe entre le commit d'un changement et la mise en production?</h3>
        <ul class="flexblock border">
            <li>
                <i class="nf nf-md-magnify"></i>
                <h3>Revue</h3>
            </li>
            <li>
                <i class="nf nf-dev-git_merge"></i>
                <h3>Fusion</h3>
            </li>
            <li>
                <i class="nf nf-fae-tools"></i>
                <h3>Compilation</h3>
            </li>
            <li>
                <i class="nf nf-oct-codescan_checkmark"></i>
                <h3>Test</h3>
            </li>
            <li>
                <i class="nf nf-fa-user"></i>
                <h3>Déploiement</h3>
            </li>
            <li>
                <i class="nf nf-fa-question"></i>
                <h3>Quoi d'autre?</h3>
            </li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
        </ul>
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-md-magnify" style="font-size: 36pt;"></i><h3>Quelques gaspillages lors de la revue</h3>
            </div>
            <div class="column">
                <pre>
- Pull-Request en attente de revue
- Longs débats sur l'implémentation
- Code refusé
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-dev-git_merge" style="font-size: 36pt;"></i><h3>Quelques gaspillages lors de la fusion</h3>
            </div>
            <div class="column">
                <pre>
- Beaucoup de conflits
- Fusion incorrecte
- Fonctionne dans la branche de développement mais cassé dans la branche principale
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-fae-tools" style="font-size: 36pt;"></i><h3>Quelques gaspillages lors de la compilation</h3>
            </div>
            <div class="column">
                <pre>
- Temps de compilation long
- Compilation fragile
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-oct-codescan_checkmark" style="font-size: 36pt;"></i><h3>Quelques gaspillages lors des tests</h3>
            </div>
            <div class="column">
                <pre>
- Tests longs
- Échecs des tests
- Tests intermittents
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <div class="grid vertical-align">
            <div class="column">
                <i class="nf nf-fa-user" style="font-size: 36pt;"></i> <h3>Quelques gaspillages lors du déploiement</h3>
            </div>
            <div class="column">
                <pre>
- Attente de la fenêtre de déploiement
- Grande équipe requise pour le déploiement
- Retours en arrière
- Déploiement peu fiable
                </pre>
            </div>
        </div> <!-- end .card-60 -->
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <h3>Métriques DevOps</h3>
        <ul class="flexblock metrics border">
            <li>
                <i class="nf nf-md-timer_outline"></i>
                <p>Délai de livraison</p>
            </li>
            <li>
                <i class="nf nf-fa-ellipsis"></i>
                <p>Fréquence de déploiement</p>
            </li>
            <li>
                <i class="nf nf-md-timer_outline"></i>
                <p>Temps moyen de rectification des anomalies</p>
            </li>
            <li>
                <i class="nf nf-md-percent"></i>
                <p>Pourcentage d'échec des changements</p>
            </li>
        </ul>
    </div> <!-- end .wrap -->
</section>

<section>
    <div class="wrap">
        <h3>Références</h3>
                <ul class="flexblock gallery">
                    <li>
                        <figure>
                            <img src="https://www.redhat.com/rhdc/managed-files/bkgd-clh-ep4-2000x950.png"/>
                            <figcaption>
                                <h2>Podcast Command Line Heroes</h2> <p><a href="https://www.redhat.com/en/command-line-heroes/season-1/devops-tear-down-that-wall">Saison 1, Épisode 4 - DevOps Tear Down That Wall</a></p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="https://itrevolution.com/wp-content/uploads/2022/06/TPP_3rd_cover_border-768x1150.jpg.webp"/>
                            <figcaption>
                            <h2>Le Projet Phoenix</h2>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="https://itrevolution.com/wp-content/uploads/2022/06/Accelerate_flat_Shingo-1-768x1152.jpg.webp"/>
                            <figcaption>
                            <h2>Accelerate</h2>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
    </div> <!-- end .wrap -->
</section>
