---
title: Cinq dysfonctions des équipes
---
<section class="slide-top aligncenter">
    <h1>Cinq dysfonctions des équipes</h1>
    <hr>
    <h2>Manque de confiance</h2>
    <h2>Peur de la confrontation</h2>
    <h2>Absence d'engagement</h2>
    <h2>Évitement de l'imputabilité</h2>
    <h2>Inattention aux résultats</h2>
</section>
