---
title: Five Dysfunctions of a Team
---
<section class="slide-top aligncenter">
    <h1>Five Dysfunctions of a Team</h1>
    <hr>
    <h2>Absence of Trust</h2>
    <h2>Fear of Conflict</h2>
    <h2>Lack of Commitment</h2>
    <h2>Avoidance of Accountability</h2>
    <h2>Inattention to Results</h2>
</section>
