---
title: Quatre accords Toltèques
---

<section class="slide-top aligncenter">
    <h1>Les quatre accords Toltèques</h1>
    <hr>
    <h2>Soyez impeccable avec votre parole</h2>
    <h2>Ne prenez rien personnellement</h2>
    <h2>Ne faites pas de suppositions</h2>
    <h2>Faites toujours de votre mieux</h2>
</section>
