---
title: Four Agreements
---

<section class="slide-top aligncenter">
    <h1>Four Agreements</h1>
    <hr>
    <h2>Be Impeccable With Your Word</h2>
    <h2>Don't Take Anything Personally</h2>
    <h2>Don't Make Assumptions</h2>
    <h2>Always Do Your Best</h2>
</section>
