---
title: INVEST
draft: false
---

<section>
    <div class="aligncenter">
        <h2>I.N.V.E.S.T.</h2>
        <hr>
        <h3>Independent</h3>
        <h3>Negotiable</h3>
        <h3>Valuable</h3>
        <h3>Estimable</h3>
        <h3>Small</h3>
        <h3>Testable</h3>
    </div>
    <!-- .end .wrap -->
</section>
