---
title: "Jokes"
draft: false
---

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Il y a 10 types de personnes. Celles qui savent compter en binaire, et celles qui ne savent pas.</p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Nous n'avons jamais le temps de faire les choses correctement, mais toujours le temps de les refaire.</p>
            <p><cite>Loi de Meskimen</cite></p>
        </blockquote>
    </div>
</section>
