---
title: Pondering Questions
---

<section class="slide-top aligncenter">
    <h1>Question to ponder</h1>
    <hr>
    <h3>Who is the team talking to during the daily?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question to ponder</h1>
    <hr>
    <h3>What elements are required for a team to be proud of its work?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question to ponder</h1>
    <hr>
    <h3>What is your definition of "trust"?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question to ponder</h1>
    <hr>
    <h3>How does a team decide how much work to take in an iteration?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question to ponder</h1>
    <hr>
    <h3>Why is the daily time-boxed to 15 minutes?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question to ponder</h1>
    <hr>
    <h3>How many different ways to organize the daily can you think of?</h3>
</section>
