---
title: Questions
---

<section class="slide-top aligncenter">
    <h1>Question Puissante</h1>
    <hr>
    <h3>À qui l'équipe parle-t-elle pendant la mêlée quotidienne?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question Puissante</h1>
    <hr>
    <h3>Quels éléments sont requis pour qu'une équipe soit fière de son travail?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question Puissante</h1>
    <hr>
    <h3>Quelle est votre définition de "confiance"?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question Puissante</h1>
    <hr>
    <h3>Comme une équipe décide-t-elle de la quantité de travail à accepter dans un sprint?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question Puissante</h1>
    <hr>
    <h3>Pourquoi la durée de la mêlée est-elle limitée à 15 minutes?</h3>
</section>

<section class="slide-top aligncenter">
    <h1>Question Puissante</h1>
    <hr>
    <h3>Combien de façons d'organiser la mêlée pouvez-vous imaginer?</h3>
</section>
