---
title: "Being a Software Professional"
---

<section>
    <div class="aligncenter">
        <h1>What does the word "professional" evoke?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>How do we interact with professionals?</h1>
        <h1>What do we expect from them?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>What are examples of jobs we don't associate with the word "professional"?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>How do we interact with people in those jobs?</h1>
        <h1>What do we expect from them?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>What would it mean to talk about "software professionals"?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>What's the number one enemy of software projects?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Complexity</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>5. The system behaves unpredictably</b></h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>4. Developers are afraid to touch the code</b></h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>3. Velocity drops with time</b></h3>
        <h3>4. Developers are afraid to touch the code</h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>2. Bugfixes create new bugs</b></h3>
        <h3>3. Velocity drops instead of increasing with time</h3>
        <h3>4. Developers are afraid to touch the code</h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Top 5 signs that complexity won</h1>
        <hr>
        <h3><b>1. Developers start to talk about "restarting from scratch"</b></h3>
        <h3>2. Bugfixes create new bugs</h3>
        <h3>3. Velocity drops with time</h3>
        <h3>4. Developers are afraid to touch the code</h3>
        <h3>5. The system behaves unpredictably</h3>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>It is the single greatest indictment of the software industry, the most obvious evidence of our failure as professionals, that we make things worse with time.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Why does complexity win?</h1>
        <hr>
        <h2>Because we let it.</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>If you don't conquer software complexity, it will conquer you.</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h2>If you don't touch a software system, it doesn't get more complicated.</h1>
        <h2>Developers either create or reduce complexity.</h2>
        <h2>If you are not conscious about reducing it, you are very likely increasing it.</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Things that won't conquer complexity</h1>
        <hr>
        <h2>Being "careful"</h2>
        <h2>Coming back to fix it "later" (aka "never")</h2>
        <h2>Documentation</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Tools to conquer complexity</h1>
        <hr>
        <h2>Reduce complexity with good design</h2>
        <h2>Automate what is left</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h2>To tame complexity,</h2>
        <h2>we need to prove, over and over again,</h2>
        <h2>that the system is working.</h2>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>If it's not tested, it's broken</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Bruce_Eckel">Bruce Eckel</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>QA should find nothing.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>What tests are</h1>
        <h3>Tests are your way of proving the system work</h3>
        <h3>Tests are code</h3>
        <h3>Tests run automatically on every change</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Kinds of tests that don't help with complexity</h1>
        <br>
        <h3>Manual tests</h3>
        <h3>Tests that don't run automatically</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>What tests are for</h1>
        <h3>When tests pass, you can deploy to production</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>The implications of this are profound:</h1>
        <h3>When you add a feature and tests pass, you can deploy</h3>
        <h3>When you fix a bug and tests pass, you can deploy</h3>
        <h3>When you refactor and tests pass, you can deploy</h3>
        <h3>When you do <em>anything</em> and tests pass, you can deploy</h3>
    </div>
</section>
