---
title: "Être un professionnel du logiciel"
---

<section>
    <div class="aligncenter">
        <h1>Que signifie le mot "professionnel" ?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Comment interagissons-nous avec les professionnels ?</h1>
        <h1>Qu'attendons-nous d'eux ?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Quels sont des exemples de métiers que nous n'associons pas au mot "professionnel" ?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Comment interagissons-nous avec les personnes dans ces métiers ?</h1>
        <h1>Qu'attendons-nous d'eux ?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Que signifierait parler de "professionnels du logiciel" ?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Quel est le principal ennemi des projets logiciels ?</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Complexité</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les 5 principaux signes que la complexité a gagné</h1>
        <hr>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les 5 principaux signes que la complexité a gagné</h1>
        <hr>
        <h3><b>5. Le système se comporte de manière imprévisible</b></h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les 5 principaux signes que la complexité a gagné</h1>
        <hr>
        <h3><b>4. Les développeurs ont peur de toucher au code</b></h3>
        <h3>5. Le système se comporte de manière imprévisible</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les 5 principaux signes que la complexité a gagné</h1>
        <hr>
        <h3><b>3. La vélocité diminue avec le temps</b></h3>
        <h3>4. Les développeurs ont peur de toucher au code</h3>
        <h3>5. Le système se comporte de manière imprévisible</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les 5 principaux signes que la complexité a gagné</h1>
        <hr>
        <h3><b>2. Les corrections de bugs créent de nouveaux bugs</b></h3>
        <h3>3. La vélocité diminue au lieu d'augmenter avec le temps</h3>
        <h3>4. Les développeurs ont peur de toucher au code</h3>
        <h3>5. Le système se comporte de manière imprévisible</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les 5 principaux signes que la complexité a gagné</h1>
        <hr>
        <h3><b>1. Les développeurs commencent à parler de "repartir de zéro"</b></h3>
        <h3>2. Les corrections de bugs créent de nouveaux bugs</h3>
        <h3>3. La vélocité diminue avec le temps</h3>
        <h3>4. Les développeurs ont peur de toucher au code</h3>
        <h3>5. Le système se comporte de manière imprévisible</h3>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>C'est la plus grande accusation contre l'industrie du logiciel, la preuve la plus évidente de notre échec en tant que professionnels, que nous aggravons les choses avec le temps.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Pourquoi la complexité gagne-t-elle ?</h1>
        <hr>
        <h2>Parce que nous la laissons faire.</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Si vous ne maîtrisez pas la complexité logicielle, elle vous maîtrisera.</h1>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h2>Si vous ne touchez pas à un système logiciel, il ne devient pas plus compliqué.</h2>
        <h2>Les développeurs créent ou réduisent la complexité.</h2>
        <h2>Si vous n'êtes pas conscient de la réduire, vous l'augmentez très probablement.</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Choses qui ne vaincront pas la complexité</h1>
        <hr>
        <h2>Être "prudent"</h2>
        <h2>Revenir pour le corriger "plus tard" (c'est-à-dire "jamais")</h2>
        <h2>Documentation</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Outils pour vaincre la complexité</h1>
        <hr>
        <h2>Réduire la complexité avec un bon design</h2>
        <h2>Automatiser ce qui reste</h2>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h2>Pour apprivoiser la complexité,</h2>
        <h2>nous devons prouver, encore et encore,</h2>
        <h2>que le système fonctionne.</h2>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Si ce n'est pas testé, c'est cassé</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Bruce_Eckel">Bruce Eckel</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Le contrôle qualité ne devrait rien trouver.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Ce que sont les tests</h1>
        <h3>Les tests sont votre moyen de prouver que le système fonctionne</h3>
        <h3>Les tests sont du code</h3>
        <h3>Les tests s'exécutent automatiquement à chaque changement</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Types de tests qui n'aident pas avec la complexité</h1>
        <br>
        <h3>Tests manuels</h3>
        <h3>Tests qui ne s'exécutent pas automatiquement</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>À quoi servent les tests</h1>
        <h3>Lorsque les tests réussissent, vous pouvez déployer en production</h3>
    </div>
</section>

<section>
    <div class="aligncenter">
        <h1>Les implications de cela sont profondes :</h1>
        <h3>Lorsque vous ajoutez une fonctionnalité et que les tests réussissent, vous pouvez déployer</h3>
        <h3>Lorsque vous corrigez un bug et que les tests réussissent, vous pouvez déployer</h3>
        <h3>Lorsque vous refactorez et que les tests réussissent, vous pouvez déployer</h3>
        <h3>Lorsque vous faites <em>n'importe quoi</em> et que les tests réussissent, vous pouvez déployer</h3>
    </div>
</section>
