---
title: "Quotes"
draft: false
---

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Cattle not pets</p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Teams that finish early accelerate faster.</p>
            <p><cite><a href="https://www.amazon.ca/Scrum-Book-Spirit-Game-ebook/dp/B08711ZCPY/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=1628619258&sr=8-4">A Scrum Book</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Between stimulus and response there is a space. In that space is our power to choose our response. In our response lies our growth and our freedom.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Stephen_Covey">Steven Covey</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>It doesn't take a huge amount of knowledge and skill to get a program working. Kids in high school do it all the time.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>It is the single greatest indictment of the software industry, the most obvious evidence of our failure as professionals, that we make things worse with time.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>QA should find no fault with the system.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Working overtime is not a way to show your dedication to your employer. What it shows is that you are a bad planner, that you agree to deadlines to which you shouldn't agree, that you make promises that you shouldn't make, that you are a manipulable laborer and not a professional.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Are you skilled at operating the debugger? Do you have the debugger's hot keys memorized? [...] <em>This is not a skill to be desired!</em></p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>The only way you get good at using a debugger is by spending a lot of time debugging. Spending a lot of time debugging implies that there are always a lot of bugs.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>The belief that quality and discipline <em>increase</em> speed is a courageous belief because it will constantly be challenged by powerful but naive folks who are in a hurry.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>If a change to the requirements breaks your architecture, then your architecture sucks.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Robert_C._Martin">Robert C. Martin (aka Uncle Bob)</a></cite></p>
            <!-- Clean Agile -->
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>Testing shows the absence, not the presence, of bugs.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Edsger_W._Dijkstra">Edsger W. Dijkstra</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>People are already doing their best; the problems are with the system. Only management can change the system.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/W._Edwards_Deming">W. Edwards Deming</a></cite></p>
        </blockquote>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <blockquote class="text-quote">
            <p>It is amazing what you can achieve if you do not care who gets the credit.</p>
            <p><cite><a href="https://en.wikipedia.org/wiki/Harry_S._Truman">Harry Truman</a></cite></p>
        </blockquote>
    </div>
</section>
