---
title: Scrum Values
---

<section class="slide-top aligncenter">
    <h1>Outline</h1>
    <hr>
    <h2>Scrum vs. Agile</h2>
    <h2>Scrum vs. SAFe</h2>
    <h2>Scrum recap</h2>
    <h2>Scrum troubleshooting</h2>
    <h2>Scrum values</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>The team doesn't know what's coming up in future sprints.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>A lot of bugs appear in the product.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>The deployment pipeline is slow and error prone.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>The team stagnates, i.e. doesn't improve every sprint.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>Velocity is low.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>The team doesn't plan its sprints.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>The customer needs a feature urgently.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>The backlog items are large and vague.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>Some members of the team get distracted from working on the sprint goal.</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Who's accountable?</h1>
    <hr>
    <h2>What other scrum malfunction can you think of?</h2>
</section>

<section class="slide-top aligncenter">
    <h1>Scrum Values</h1>
    <hr>
    <h2>Commitment</h2>
    <h2>Courage</h2>
    <h2>Focus</h2>
    <h2>Openness</h2>
    <h2>Respect</h2>
</section>
