---
title: Sept gaspillages
---

<section>
    <div class="wrap size-50">
        <ul class="flexblock reasons">
            <li>
                <h2>Inventaire</h2>
            </li>
            <li>
                <h2>Surproduction</h2>
            </li>
            <li>
                <h2>Surtraitement</h2>
            </li>
            <li>
                <h2>Transport</h2>
            </li>
            <li>
                <h2>Mouvement</h2>
            </li>
            <li>
                <h2>Attente</h2>
            </li>
            <li>
                <h2>Défauts</h2>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="card-50">
            <ul class="flexblock reasons">
                <li>
                    <h2>Inventaire</h2>
                </li>
                <li>
                    <h2>Surproduction</h2>
                </li>
                <li>
                    <h2>Surtraitement</h2>
                </li>
                <li>
                    <h2>Transport</h2>
                </li>
                <li>
                    <h2>Mouvement</h2>
                </li>
                <li>
                    <h2>Attente</h2>
                </li>
                <li>
                    <h2>Défauts</h2>
                </li>
            </ul>
            <ul class="flexblock reasons">
                <li>
                    <h2>Travail en cours</h2>
                </li>
                <li>
                    <h2>Fonctionnalité superflues</h2>
                </li>
                <li>
                    <h2>Réapprentissage</h2>
                </li>
                <li>
                    <h2>Transferts</h2>
                </li>
                <li>
                    <h2>Changements de contexte</h2>
                </li>
                <li>
                    <h2>Attente</h2>
                </li>
                <li>
                    <h2>Défauts</h2>
                </li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="wrap size-50">
        <ul class="flexblock reasons">
            <li>
                <h2>Travail en cours</h2>
            </li>
            <li>
                <h2>Fonctionnalité superflues</h2>
            </li>
            <li>
                <h2>Réapprentissage</h2>
            </li>
            <li>
                <h2>Transferts</h2>
            </li>
            <li>
                <h2>Changements de contexte</h2>
            </li>
            <li>
                <h2>Attente</h2>
            </li>
            <li>
                <h2>Défauts</h2>
            </li>
        </ul>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="card-50 bg-white">
            <img src="../../img/lean.png" alt="Poppendieck">
            <div class="flex-content">
                <h3><a href="https://www.amazon.ca/Implementing-Lean-Software-Development-Concept/dp/0321437381"><em>Implementing Lean Software Development</em></a>, Mary and Tom Poppendieck, Addison-Wesley Professional, 2006</h3>
            </div>
        </div>
    </div>
</section>
