---
title: Seven Wastes
---

<section>
    <div class="wrap size-50">
    <ul class="flexblock reasons">
        <li>
            <h2>Partially done work</h2>
            <p>Unfinished feature, untested code, undeployed code, dormant branches</p>
        </li>
        <li>
            <h2>Extra Processes</h2>
            <p>Non-productive meetings, approvals, documentation</p>
        </li>
        <li>
            <h2>Extra Features</h2>
            <p>Just in case features, unrequired feature, feature required much later</p>
        </li>
        <li>
            <h2>Task Switching</h2>
            <p>People working on multiple stories, people assigned to multiple projects, people belonging to multiple teams</p>
        </li>
        <li>
            <h2>Waiting</h2>
            <p>Long build, slow tests, long deployments, dependencies</p>
        </li>
        <li>
            <h2>Motion</h2>
            <p>Hand off requirements to developers, Hand off code to QA</p>
        </li>
        <li>
            <h2>Defects</h2>
            <p>Bugs in code, incomplete requirements, unreliable tests</p>
        </li>
        <ul>
    </div>
</section>
