---
title: SMART
draft: false
---

<section>
    <div class="aligncenter">
        <h2>S.M.A.R.T.</h2>
        <hr>
        <h3>Small</h3>
        <h3>Measurable</h3>
        <h3>Attainable</h3>
        <h3>Relevant</h3>
        <h3>Testable</h3>
    </div>
    <!-- .end .wrap -->
</section>
