---
title: SOLID
draft: false
---

<section>
    <div class="wrap">
        <div class="content-center">
            <h1 class="text-landing">SOLID</h1>
            <ul class="flexblock specs">
                <li><h2>Single Responsibility Principle</h2></li>
                <li><h2>Open-Closed Principle</h2></li>
                <li><h2>Liskov Substitution Principle</h2></li>
                <li><h2>Interface Segregation Principle</h2></li>
                <li><h2>Dependency Inversion Principle</h2></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h2>Encourage the creation of code that:</h2>
            <ul class="flexblock specs">
                <li><h3>Tolerates change</h3></li>
                <li><h3>Is easy to understand</h3></li>
                <li><h3>Can be easily reused</h3></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Single Responsibility Principle</strong></h1>
            <div class="bg-white shadow">
                <h2>A module should have one, and only one, reason to change.</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Single Responsibility Principle</strong></h1>
            <div class="bg-white shadow">
                <ul class="specs">
                    <li><h2>Clarity on when a class is complete</h2></li>
                    <li><h2>Avoid changes for unrelated reasons</h2></li>
                    <li><h2>Lowers WTF factor</h2></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <h1 class="aligncenter"><strong>Single Responsibility Principle</strong></h1>
        <div class="grid vertical-align">
            <div class="column">
                <h3 class="aligncenter">:-/</h3>
                <div class="bg-white shadow">
                    <pre>class Timer:

    def start_counter(self):
        pass
    
    def stop_counter():
        return elapsed_milliseconds
    
    def get_time_of_day():
        return time_of_day
                    </pre>
                </div>
            </div>
            <div class="column">
                <h3 class="aligncenter">:-)</h3>
                <div class="bg-white shadow">
                    <pre>class Timer:

    def start_counter(self):
        pass
    
    def stop_counter(self):
        return elapsed_milliseconds
    
class WallClock:

    def get_time_of_day(self):
        return time_of_day
                    </pre>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Open-Closed Principle</strong></h1>
            <div class="bg-white shadow">
                <h2>A software artifact should be open for extension but closed for modification.</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Open-Closed Principle</strong></h1>
            <div class="bg-white shadow">
                <ul class="specs">
                    <li><h2>Avoid modifying tested code</h2></li>
                    <li><h2>Facilitate merges</h2></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <h1 class="aligncenter"><strong>Open-Closed Principle</strong></h1>
        <div class="grid vertical-align">
            <div class="column">
                <h3 class="aligncenter">:-/</h3>
                <div class="bg-white shadow">
                    <pre>class CommandProcessor:

    def process(self, request):
        if request.verb == "GET":
            processGet(request)
        elif request.verb == "POST" and request.route == "/form":
            processPostForm(request):
        else:
            processUnknownRequest(request)
                    </pre>
                </div>
            </div>
            <div class="column">
                <h3 class="aligncenter">:-)</h3>
                <div class="bg-white shadow">
                    <pre>class CommandProcessor:

    def __init__(self, processors):
        self.processors = processors

    def process(self, request):
        for processor in self.processors:
            if processor.process(request):
                break
                    </pre>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Liskov Substitution Principle</strong></h1>
            <div class="bg-white shadow">
                <h2>Subtypes should be indistinguishable as viewed from the program using them.</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Liskov Substitution Principle</strong></h1>
            <div class="bg-white shadow">
                <ul class="specs">
                    <li><h2>Avoid special cases, which increase complexity</h2></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <h1 class="aligncenter"><strong>Liskov Substitution Principle</strong></h1>
        <div class="grid vertical-align">
            <div class="column">
                <h3 class="aligncenter">:-/</h3>
                <div class="bg-white shadow">
                    <pre>for shape in shapes:
   if isinstance(shape, Circle):
       result.append(shape.circumference())
   else:
       result.append(shape.perimeter())
                    </pre>
                </div>
            </div>
            <div class="column">
                <h3 class="aligncenter">:-)</h3>
                <div class="bg-white shadow">
                    <pre>for polygon in polygons:
    result.append(polygon.perimeter())
                    </pre>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Interface Segregation Principle</strong></h1>
            <div class="bg-white shadow">
                <h2>Avoid structures where users of a class depend on things they don't use.</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Interface Segregation Principle</strong></h1>
            <div class="bg-white shadow">
                <ul class="specs">
                    <li><h2>Minimize unnecessary dependencies</h2></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Dependency Inversion Principle</strong></h1>
            <div class="bg-white shadow">
                <h2>Code that implements high-level policy should not depend on code that implements low-level details.</h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <div class="content-center">
            <h1><strong>Dependency Inversion Principle</strong></h1>
            <div class="bg-white shadow">
                <ul class="specs">
                    <li><h2>Changing low-level details should not affect the business logic.</h2></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="wrap">
        <h1 class="aligncenter"><strong>Dependency Inversion Principle</strong></h1>
        <div class="grid vertical-align">
            <div class="column">
                <h3 class="aligncenter">:-/</h3>
                <div class="bg-white shadow">
                    <pre>class Database:
    def select(self, id):
        ...

class Network:
    def get(self, url)
        ...

class Employee:
    def __init__(self, id, database):
        self.id = id
        self.database = database

    def load(self):
        self.data = database.select(self.id)
                    </pre>
                </div>
            </div>
            <div class="column">
                <h3 class="aligncenter">:-)</h3>
                <div class="bg-white shadow">
                    <pre>class Database:
    def load(self, id):
        ...

class Network:
    def load(self, id)
        ...

class Employee:
    def __init__(self, id, data_source):
        self.id = id
        self.data_source = data_source

    def load(self):
        self.data = data_source.load(self.id)
                </div>
            </div>
        </div>
    </div>
</section>
