---
title: 3 Axioms Inset
---

<section class="slide-top aligncenter">
    <h3><strong>Be present</strong></h3>
</section>

<section class="slide-top aligncenter">
    <h3><strong>Be present</strong></h3>
    <h3><strong>Listen to understand</strong></h3>
</section>

<section class="slide-top aligncenter">
    <h3><strong>Be present</strong></h3>
    <h3><strong>Listen to understand</strong></h3>
    <h3><strong>Be concise</strong></h3>
</section>

