---
title: Axioms of conversation
---

<section class="slide-top aligncenter">
    <h1>Three Axioms of Conversation</h1>
    <hr>
    <h2>Be present</h2>
    <h2>Listen to understand</h2>
    <h2>Be concise</h2>
</section>
