---
title: Axiomes de la conversation
---

<section class="slide-top aligncenter">
    <h1>Trois axiomes de la conversation</h1>
    <hr>
    <h2>Être présent</h2>
    <h2>Écouter pour comprendre</h2>
    <h2>Être concis</h2>
</section>
