---
title: WSJF
draft: false
---

<section>
    <div class="aligncenter">
        <h2>W.S.J.F.</h2>
        <hr>
        <h3>Weighted</h3>
        <h3>Shortest</h3>
        <h3>Job</h3>
        <h3>First</h3>
    </div>
    <!-- .end .wrap -->
</section>
