{{- define "main" }}
<main role="main">
    <section class="aligncenter">
        <div class="wrap">
            <h1>Page not found!</h1>
            <p class="text-symbols">* * *</p>
            <p>Please check your URL or <a href="index.html">return to the Home Page</a>.</p>
        </div>
        <!-- end .wrap -->
    </section>
    <!-- end section -->
</main>
{{- end }}
