{{ define "main" }}
<main>
    <article id="webslides">
        <section>
            <div class="wrap">
                <ul class="flexblock gallery aligncenter">
                    {{- range .Site.RegularPages }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{- end }}
                </ul>
            </div>
        </section>
    </article>
</main>
{{- end }}
