<ul>
{{ range resources.Match "audio/*.mp3" }}
<li>{{ .Name | path.Base }} &nbsp;<a href="{{ .RelPermalink }}" download><i class="nf nf-oct-download"></i></a>&nbsp;<audio controls controlslist="nodownload noplaybackrate"><source src="{{ .RelPermalink }}" type="audio/mp3">Not supported.</audio></li>
{{ end }}
</ul>
